<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title></title>
		<link rel="icon" href="logo.ico" />
		<!--jquery库-->
		<script src="js/jquery.min.js"></script>
		<!--bootstrap库-->
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<script src="js/bootstrap/bootstrap.min.js"></script>
		<!--[if lt IE 9]>
      <script src="js/bootstrap/html5shiv.min.js"></script>
      <script src="js/bootstrap/respond.min.js"></script>
    <![endif]-->
		<!--font-awesome字体库-->
		<link href="css/font-awesome.min.css" rel="stylesheet" />
		<!--平滑滚动到顶部库-->
		<!--<script src="js/jquery.scrolltopcontrol/scrolltopcontrol.js" type="text/javascript"></script>-->
		<!--主要写的jquery拓展方法-->
		<script src="js/jquery.extend.js" type="text/javascript"></script>
		<!--主要写的css代码-->
		<link href="css/default.css" rel="stylesheet" type="text/css" />
		<!--主要写的js代码-->
		<script src="js/default.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/home.js" type="text/javascript"></script>
		<link href="css/home.css" rel="stylesheet" type="text/css" />
		<link href="./font/iconfont.css" rel="stylesheet" />
		<link href="css/query_startic_pro.css" type="text/css" rel="Stylesheet" />
	</head>

	<body>
		<!--<div class="main-ontent">-->

		<div class="majorCentre">
			<!----------------顶部内容----------------------->
			<div class="topContainer">
				
				<div class="topRight">
					<!--<div style="float: left;">
						<marquee>娘子军家政共享平台，让家政公司赚钱更简单</marquee>
					</div>-->
					<div class="webdesigntuts-workshop">
						
						<div style="float: left;">
							
							<input type="search" id="seek_text">
							<button onclick="seek()">搜索</button>
						</div>
					</div>
				</div>
			</div>
			<!----------------顶部内容----------------------->
			<div class="majorCentreLeft">
				<div class="nannyCentre">
					<div class="nanny-head">
						<div class="head-img">
							<img src="./image/head-img.jpg" alt="家政共享平台" width="60" height="60">
						</div>
						<div class="head-con">
							<h3 class="head-tit">家政共享平台</h3>
							<div class="city">
								<span class="city-txt">选择城市:</span>
								<select>
									<option>省份</option>
									<option>北京</option>
									<option>广东</option>
									<option>广西</option>
								</select>
								<select>
									<option>城市</option>
									<option>北京</option>
									<option>深圳</option>
									<option>东莞</option>
								</select>
							</div>
						</div>
						<div class="head-more">
							<a href="javascript:;" class="edit-share"><i class="iconfont icon-jia" style="vertical-align: -3px;"></i>添加共享</a>
							<a href="javascript:;" class="more-share"><i class="iconfont icon-gengduo2" style="margin-right: 3px;"></i>更多共享</a>
						</div>
					</div>
					<ul id="myTab" class="nav nav-tabs">
						<li class="active">
							<a href="#shareEmployer" data-toggle="tab" class="icon-guzhu">共享雇主</a>
						</li>
						<li>
							<i class="icon ico-aunt"></i><a href="#shareAunt" data-toggle="tab" class="icon-aunt" >共享阿姨</a>
						</li>
						<li>
							<i class="icon ico-stu"></i><a href="#shareStudent" data-toggle="tab" class="icon-stu">共享学员</a>
						</li>
					</ul><!--
					<div class="tab-content">
						<div class="tab-pane">
							<div class="pane-item">
								<div class="item-left">
									<img src="image/0.jpg" class="user-img" />
								</div>
								<div class="item-right">
									<p class="user-name">××××家政公司<span>--2017/07/03 18:36:27</span></p>
									<div class="rele-mes">需求: 南湾公园里找钟点工，周一到周六，2点半到6点，要求做事麻利，做饭好吃的广东阿姨，工资2300.</div>
								</div>
							</div>
						</div>
					</div>-->
					<div id="myTabContent" class="tab-content" style="background: #FFFFFF; width: 100%; height: 100%;  ">
						<div class="tab-pane fade in active" id="shareEmployer" >
							<!--<div class="pane-item clearfix">
								<div class="item-left">
									<img src="image/0.jpg" class="user-img" />
								</div>
								<div class="item-right">
									<p class="user-name">××××家政公司 <span class="contact">(联系人：××× &nbsp;&nbsp;电话：<span class="tel">135****1234</span>)</span><span class="time">2017/07/03 18:36:27</span></p>
									<div class="rele-con"><i class="box-ico"></i>需求: 南湾公园里找钟点工，周一到周六，2点半到6点，要求做事麻利，做饭好吃的广东阿姨，周一到周六，2点半到6点，要求做事麻利，周一到周六，2点半到6点，要求做事麻利，周一到周六，2点半到6点，要求做事麻利，周一到周六，2点半到6点，要求做事麻利，，2点半到6点，要求做事麻利，，2点半到6点，要求做事麻利，工资2300.</div>
								</div>
							</div>-->
							<!--<div class="shareEmployerBox">-->
							<!--<div class="shareEmployerTitle">-->
							<!--地点：XXXXXXXXXXXXXXXXXXXXXXXX-->
							<!--</div>-->
							<!--<div class="shareEmployerContent" id="shareEmployerContent">-->
							<!--iOS是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
								iOS是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。
								iOS是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。-->
							<!--</div>-->
							<!--<div class="shareEmployerButtom">-->
							<!--<span>发布者：xxxx</span><span>联系号码：xxxx-xx-xx</span><span>时间：xxxx-xx-xx</span>-->
							<!--</div>-->
							<!--</div>-->
						</div>
						<div class="tab-pane fade" id="shareAunt">
							<!--<div class="pane-item clearfix">
								<div class="item-left">
									<img src="image/0.jpg" class="user-img" />
								</div>
								<div class="item-right">
									<p class="user-name">××× <span class="contact">(联系人：××× &nbsp;&nbsp;电话：<span class="tel">135****1234</span>)</span><span class="time">2017/07/03 18:36:27</span></p>
									<div class="rele-con"><i class="box-ico"></i>求职意向: 做饭，照顾老人</div>
								</div>
							</div>-->
							<!--<p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>-->
						</div>
						<div class="tab-pane fade" id="shareStudent">
							<div class='noticeTs'>敬请期待!</div>
						</div>
					</div>
				</div>
				<!--<div class="nannyCentre">
						<div class="centreTitle">共享保姆<img src="image/auntImg.png" /> <span class="more_span" data-toggle='modal' data-target='#seeMoreShareAunt'>查看更多>></span></div>
						<div style="width: 100%; height: 220px;">
							<table id="nanny_table"></table>
						</div>

					</div>-->
				<div class="clienteleCentre">
					<div class="centreTitle">盈利状况</div>
					<div style="float: left;width: 60%; height: 100%;text-align: left;">
						<div style="width: 400px; height: 220px; text-align: left; margin:10px auto;">
							<canvas id="barChart" style="height:220px; width:400px"></canvas>
						</div>
					</div>
					<div style="float: left;width: 40%; height: 100%; text-align: left;">
						<div style="width: 180px; height: 180px; text-align: left; margin:10px auto;">
							<canvas id="pieChart" style="height:180px; width:180px; "></canvas>
						</div>
					</div>
					
				</div>
			</div>
			<div class="majorCentreRight">
				<div class="newsCentre">
					<div class="centreTitle">新闻栏</div>
					<div class="news-con">
						<div class="news-top clearfix">
							<div class="news-img">
								<img src="image/news.png" alt="" width="150" height="100"/>
							</div>
							<div class="news-info">
							</div>
						</div>
						<ul class="newsUl">
						</ul>
					</div>
					
					<!--<div style="float: left;"><img class="newsImg" style="width: 180px; height: 180px;margin-top: 10px;" src="image/news.png" /></div>
					<div style="float: left; padding: 10px 0 0 0;">
						<ul class="newsUl"></ul>
					</div>-->
				</div>
				<div class="noticeCentre">
					<div class="centreTitle">制度 </div>
					<div class="notice-con">
						<table>
							<tbody>
								<!--<tr>
									<th class="col-L">文件名</th>
									<th>时间</th>
									<th>下载</th>
								</tr>
								<tr>
									<td class="col-L">
										<span>员工守则</span>
									</td>
									<td>2017-06-10</td>
									<td>
										<a href="javascript:;" class="down">下载</a>
									</td>
								</tr>
								<tr>
									<td class="col-L">
										<span>加盟须知</span>
									</td>
									<td>2017-06-10</td>
									<td>
										<a href="javascript:;" class="down">下载</a>
									</td>
								</tr>
								<tr>
									<td class="col-L">
										<span>紧急通知</span>
									</td>
									<td>2017-06-10</td>
									<td>
										<a href="javascript:;" class="down">下载</a>
									</td>
								</tr>
								<tr>
									<td class="col-L">
										<span>处罚通告</span>
									</td>
									<td>2017-06-10</td>
									<td>
										<a href="javascript:;" class="down">下载</a>
									</td>
								</tr>
								<tr>
									<td class="col-L">
										<span>通知</span>
									</td>
									<td>2017-06-10</td>
									<td>
										<a href="javascript:;" class="down">下载</a>
									</td>
								</tr>-->
							</tbody>
						</table>
					</div>
					<!--<ul class="noticeUl"></ul>-->
				</div>
			</div>
		</div>
		<!--------------------------------查看更多共享阿姨信息(开始)---------------------------------------->
		<div class="modal fade" id="seeMoreShareAunt" tabindex="-1" role="dialog" aria-labelledby="seeMoreShareAuntLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 900px;">
				<div class="modal-content">
					<div class="modal-header" style="text-align: center; font-weight:bold;">
						<h4 class="modal-title" id="seeMoreShareAuntLabel">更多共享阿姨信息</h4>
					</div>
					<div class="modal-body" style="text-align: center; height: 600px;">
						<div id="browser" class="tbtree" style="text-align: center; width: 800px; height: 600px; margin-left: 30px;">
							<div id="mainTbtable" class='uqt_detail'>
								<table id="UQT_detailTable" class="">
								</table>
							</div>

							<div id="joinTrace_pager" class="page_con">

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		<!--------------------------------查看更多共享阿姨信息(结束)---------------------------------------->

		<!--------------------------------查看更多共享客户信息(开始)---------------------------------------->
		<div class="modal fade" id="seeMoreShareClientele" tabindex="-1" role="dialog" aria-labelledby="seeMoreShareClienteleLabel" aria-hidden="true">
			<div class="modal-dialog" style="width: 900px;">
				<div class="modal-content">
					<div class="modal-header" style="text-align: center; font-weight:bold;">
						<h4 class="modal-title" id="seeMoreShareClienteleLabel">更多共享客户信息</h4>
					</div>
					<div class="modal-body" style="text-align: center; height: 600px;">
						<div id="browser" class="tbtree" style="text-align: center; width: 800px; height: 600px; margin-left: 30px;">
							<div id="mainTbtable" class='uqt_detail'>
								<table id="UQT_ClienteleTable" class="">
								</table>
							</div>

							<div id="clienteletable_pager" class="page_con">

							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		<!--------------------------------查看更多共享客户信息(结束)---------------------------------------->

		<!-- ChartJS 1.0.1 -->
		<script src="plugins/chartjs/Chart.min.js"></script>
		<!--<script src="../../plugins/chartjs/Chart.min.js"></script>-->
		<!-- FastClick -->
		<script src="plugins/fastclick/fastclick.js"></script>
		<!-- page script -->
		<script>
			$(function() {
				var areaChartData = {
					labels: ["January", "February", "March", "April", "May", "June", "July"],
					datasets: [{
						label: "Electronics",
						fillColor: "rgba(210, 214, 222, 1)",
						strokeColor: "rgba(210, 214, 222, 1)",
						pointColor: "rgba(210, 214, 222, 1)",
						pointStrokeColor: "#c1c7d1",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(220,220,220,1)",
						data: [65, 59, 80, 81, 56, 55, 40]
					}, {
						label: "Digital Goods",
						fillColor: "rgba(60,141,188,0.9)",
						strokeColor: "rgba(60,141,188,0.8)",
						pointColor: "#3b8bba",
						pointStrokeColor: "rgba(60,141,188,1)",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(60,141,188,1)",
						data: [28, 48, 40, 19, 86, 27, 90]
					}]
				};

				var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
				var pieChart = new Chart(pieChartCanvas);
				var PieData = [{
					value: 700,
					color: "#f56954",
					highlight: "#f56954",
					label: "收入"
				}, {
					value: 500,
					color: "#00a65a",
					highlight: "#00a65a",
					label: "支出"
				}];
				var pieOptions = {
					//Boolean - Whether we should show a stroke on each segment
					segmentShowStroke: true,
					//String - The colour of each segment stroke
					segmentStrokeColor: "#fff",
					//Number - The width of each segment stroke
					segmentStrokeWidth: 2,
					//Number - The percentage of the chart that we cut out of the middle
					percentageInnerCutout: 50, // This is 0 for Pie charts
					//Number - Amount of animation steps
					animationSteps: 100,
					//String - Animation easing effect
					animationEasing: "easeOutBounce",
					//Boolean - Whether we animate the rotation of the Doughnut
					animateRotate: true,
					//Boolean - Whether we animate scaling the Doughnut from the centre
					animateScale: false,
					//Boolean - whether to make the chart responsive to window resizing
					responsive: true,
					// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
					maintainAspectRatio: true,
					//String - A legend template
					legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
				};
				//Create pie or douhnut chart
				// You can switch between pie and douhnut using the method below.
				pieChart.Doughnut(PieData, pieOptions);

				var barChartCanvas = $("#barChart").get(0).getContext("2d");
				var barChart = new Chart(barChartCanvas);
				var barChartData = areaChartData;
				barChartData.datasets[1].fillColor = "#00a65a";
				barChartData.datasets[1].strokeColor = "#00a65a";
				barChartData.datasets[1].pointColor = "#00a65a";
				var barChartOptions = {
					//Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
					scaleBeginAtZero: true,
					//Boolean - Whether grid lines are shown across the chart
					scaleShowGridLines: true,
					//String - Colour of the grid lines
					scaleGridLineColor: "rgba(0,0,0,.05)",
					//Number - Width of the grid lines
					scaleGridLineWidth: 1,
					//Boolean - Whether to show horizontal lines (except X axis)
					scaleShowHorizontalLines: true,
					//Boolean - Whether to show vertical lines (except Y axis)
					scaleShowVerticalLines: true,
					//Boolean - If there is a stroke on each bar
					barShowStroke: true,
					//Number - Pixel width of the bar stroke
					barStrokeWidth: 2,
					//Number - Spacing between each of the X value sets
					barValueSpacing: 5,
					//Number - Spacing between data sets within X values
					barDatasetSpacing: 1,
					//String - A legend template
					legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
					//Boolean - whether to make the chart responsive
					responsive: true,
					maintainAspectRatio: true
				};

				barChartOptions.datasetFill = false;
				barChart.Bar(barChartData, barChartOptions);
			});
		</script>
	</body>

</html>