
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500865571696'); /* IE9*/
  src: url('iconfont.eot?t=1500865571696#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500865571696') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500865571696') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500865571696#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xueyuanpingjia:before { content: "\e670"; }

.icon-bianji:before { content: "\e612"; }

.icon-lrayiluru-copy:before { content: "\e602"; }

.icon-money:before { content: "\e608"; }

.icon-zmjiameng:before { content: "\e6b8"; }

.icon-gengduo:before { content: "\e6d1"; }

.icon-gengduo2:before { content: "\e6ca"; }

.icon-shanchu2:before { content: "\e600"; }

.icon-chaojiguzhu:before { content: "\e716"; }

.icon-filewindowclose:before { content: "\e915"; }

.icon-add:before { content: "\e6df"; }

.icon-addition_fill:before { content: "\e6e0"; }

.icon-addressbook_fill:before { content: "\e6e2"; }

.icon-businesscard_fill:before { content: "\e6e6"; }

.icon-people_fill:before { content: "\e715"; }

.icon-remind_fill:before { content: "\e71f"; }

.icon-setup_fill:before { content: "\e728"; }

.icon-jia:before { content: "\e61b"; }

.icon-ic_home_px:before { content: "\e65b"; }

