.main_employer{
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
	background: #FFFFFF;
}
.red{
	color: red;
}

 label{
	font-weight:bold;
}

.add_aunt{
	height: 50px;
	width: 100%;
	background: #FFFFFF;
	text-align: right;
}

.add_aunt button{
	height: 30px;
	width: 80px;
	background: #31b0d5;
	margin: 5px 20px 0 0;
	border-radius: 8px;
	border: none;
	outline: none;
	color: #FFFFFF;
}

.add_aunt button:hover{
	color: #f8bbd0;
}

#aunt_basic_info_head{
	height: 20px;
	align-content: center;
	width: 100%;
	background: #f8bbd0;
}

#divFrame {
	width: 100%;
	height: auto;
	
}

#divFrame .aunt_basic_info{
	width: 100%;
	height: 720px;
	border: 1px solid #f8bbd0;
}

.basic_btn button{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	margin: 20px 0 0 30px;
	border: none;
	outline: none;
	background: #f06292;
}

.basic_btn button:hover {
	color: #FFFFFF;
}

#divFrame .aunt_basic_info_head {
	background-color: #f8bbd0;
	padding: 8px;
	height: 30px;
}

#divFrame .aunt_basic_info_head h4 {
	padding: 0px;
	margin: 0px;
	width: 60%;
	float: left;
}

#divFrame .aunt_basic_info_head button {
	padding: 0px;
	margin: 0px;
	float: right;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}

#divFrame .aunt_basic_info_head button:hover {
	color: #FFFFFF;
}

#divFrame .aunt_basic_info_left{
	float: left; 
	width: 70%; 
	height: 700px; 
}

#divFrame.aunt_basic_info_left table{
	padding: 0 30px 0 30px;
	width: 100%; 
	height: 720px; 
}

#divFrame .aunt_basic_info_right{
	float: right; 
	width: 30%; 
	height: 700px; 
	text-align: right;
}


.aunt_img{
	width: 140px;
	height: 160px;
	margin: 10px 70px 0 0;
}

#divFrame .aunt_basic_info_left tr{
	height: 45px;
	
}

td{ text-align: left; padding-left: 30px; border-bottom:1pt #f8bbd0  dotted}

table tr input[type=text]{
	height: 20px;
	width: 120px;
}



.contact{
	margin-top: 15px;
	width: 100%;
	height: auto;
	border: 1px solid #f8bbd0;
}

.contact .contact_head{
	background-color: #f8bbd0;
	padding: 5px;
	height: 30px;
}

.contact .contact_head h4 {
	padding: 0px;
	margin: 0px;
	width: 70%;
	float: left;
}

.contact .contact_head button {
	
	float: right;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}

.contact .contact_head button:hover {
	color: #FFFFFF;
}

/*.contact_btns{
	display: none;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}*/

.contact_del_btn{
	width: 20px;
	height: 25px;
	background:url(../image/del.png) no-repeat;
	border: none;
	outline: none;
	margin-top: 3px;
	margin-right: 30px;
	/*border-radius: 10px;*/
}

.contact_btns:hover {
	color: #FFFFFF;
}

.contact .contact_info {
	padding: 0px;
	margin: 0;
}

.contact .contact_info table{ 
	margin: 0 0 30px 30px;
}

.contact .contact_info table tr{ 
	margin-top: 35px;
	height: 60px;
}

.contact .contact_info input { 
	width: 100px;
	height: 20px;
	/*margin-right: 15px;*/
	/*outline: none;*/
	/*background: #0066CC;*/
	
}

.work{
	margin-top: 15px;
	width: 100%;
	height: auto;
	border: 1px solid #f8bbd0;
}

.work .work_head{
	background-color: #f8bbd0;
	padding: 5px;
	height: 30px;
}

.work .work_head h4 {
	padding: 0px;
	margin: 0px;
	width: 70%;
	float: left;
}

.work .work_head button {
	
	float: right;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}

.work .work_head button:hover {
	color: #FFFFFF;
}

/*.contact_btns{
	display: none;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}*/

.work_del_btn{
	width: 20px;
	height: 25px;
	background:url(../image/del.png) no-repeat;
	border: none;
	outline: none;
	margin-top: 3px;
	margin-right: 30px;
	/*border-radius: 10px;*/
}

.work_btns:hover {
	color: #FFFFFF;
}

.work .work_info {
	padding: 0px;
	margin: 0;
}

.work .work_info table{ 
	margin: 0 0 30px 30px;
}

.work .work_info table tr{ 
	margin-top: 35px;
	height: 60px;
}

.work .work_info input { 
	width: 200px;
	height: 20px;
	/*margin-right: 15px;*/
	/*outline: none;*/
	/*background: #0066CC;*/
	
}



