.main_employer{
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
	background: #FFFFFF;
}
.red{
	color: red;
}

 label{
	font-weight:bold;
}

.add_aunt{
	height: 50px;
	width: 100%;
	background: #FFFFFF;
	text-align: right;
}

.add_aunt button{
	height: 30px;
	width: 80px;
	background: #31b0d5;
	margin: 5px 20px 0 0;
	border-radius: 8px;
	border: none;
	outline: none;
	color: #FFFFFF;
}

.add_aunt button:hover{
	color: #f8bbd0;
}

#aunt_basic_info_head{
	height: 20px;
	align-content: center;
	width: 100%;
	background: #f8bbd0;
}

#divFrame {
	width: 100%;
	height: auto;
	
}

#divFrame .aunt_basic_info{
	width: 100%;
	height: 720px;
	border: 1px solid #f8bbd0;
}

.basic_btn button{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	margin: 20px 0 0 30px;
	border: none;
	outline: none;
	background: #f06292;
}

.basic_btn button:hover {
	color: #FFFFFF;
}

#divFrame .aunt_basic_info_head {
	background-color: #f8bbd0;
	padding: 8px;
	height: 30px;
}

#divFrame .aunt_basic_info_head h4 {
	padding: 0px;
	margin: 0px;
	width: 60%;
	float: left;
}

#divFrame .aunt_basic_info_head button {
	padding: 0px;
	margin: 0px;
	float: right;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}

#divFrame .aunt_basic_info_head button:hover {
	color: #FFFFFF;
}

#divFrame .aunt_basic_info_left{
	float: left; 
	width: 70%; 
	height: 700px; 
}

#divFrame.aunt_basic_info_left table{
	padding: 0 30px 0 30px;
	width: 100%; 
	height: 720px; 
}

#divFrame .aunt_basic_info_right{
	float: right; 
	width: 30%; 
	height: 700px; 
	text-align: right;
}


.aunt_img{
	width: 140px;
	height: 160px;
	margin: 10px 70px 0 0;
}

#divFrame .aunt_basic_info_left tr{
	height: 45px;
	
}

#divFrame td,#myForm td{ text-align: left; padding-left: 30px; border-bottom:1pt #f8bbd0  dotted}

table tr input[type=text]{
	height: 20px;
	width: 120px;
}



.contact{
	margin-top: 15px;
	width: 100%;
	height: auto;
	border: 1px solid #f8bbd0;
}

.contact .contact_head{
	background-color: #f8bbd0;
	padding: 5px;
	height: 30px;
}

.contact .contact_head h4 {
	padding: 0px;
	margin: 0px;
	width: 70%;
	float: left;
}

.contact .contact_head button {
	
	float: right;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}

.contact .contact_head button:hover {
	color: #FFFFFF;
}

/*.contact_btns{
	display: none;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}*/

.contact_del_btn{
	width: 20px;
	height: 25px;
	background:url(../image/del.png) no-repeat;
	border: none;
	outline: none;
	margin-top: 3px;
	margin-right: 30px;
	/*border-radius: 10px;*/
}

.contact_btns:hover {
	color: #FFFFFF;
}

.contact .contact_info {
	padding: 0px;
	margin: 0;
}

.contact .contact_info table{ 
	margin: 0 0 30px 30px;
}

.contact .contact_info table tr{ 
	margin-top: 35px;
	height: 60px;
}

.contact .contact_info input { 
	width: 100px;
	height: 20px;
	/*margin-right: 15px;*/
	/*outline: none;*/
	/*background: #0066CC;*/
	
}

.work{
	margin-top: 15px;
	width: 100%;
	height: auto;
	border: 1px solid #f8bbd0;
}

.work .work_head{
	background-color: #f8bbd0;
	padding: 5px;
	height: 30px;
}

.work .work_head h4 {
	padding: 0px;
	margin: 0px;
	width: 70%;
	float: left;
}

.work .work_head button {
	
	float: right;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}

.work .work_head button:hover {
	color: #FFFFFF;
}

/*.contact_btns{
	display: none;
	width: 50px;
	height: 20px;
	background: #f06292;
	border: none;
	outline: none;
	border-radius: 10px;
}*/

.work_del_btn{
	width: 20px;
	height: 25px;
	background:url(../image/del.png) no-repeat;
	border: none;
	outline: none;
	margin-top: 3px;
	margin-right: 30px;
	/*border-radius: 10px;*/
}

.work_btns:hover {
	color: #FFFFFF;
}

.work .work_info {
	padding: 0px;
	margin: 0;
}

.work .work_info table{ 
	margin: 0 0 30px 30px;
}

.work .work_info table tr{ 
	margin-top: 35px;
	height: 60px;
}

.work .work_info input { 
	width: 200px;
	height: 20px;
	/*margin-right: 15px;*/
	/*outline: none;*/
	/*background: #0066CC;*/
	
}


/*查看简历*/
#auntInfo{background-color: #fff;}
#myForm>div{margin-bottom: 10px;}
#myForm table{width: 100%;}
#myForm .aunt-info-head {background-color: #dcebf7; height: 30px;}
#myForm .aunt-info-head h4 {float: left; width: 80%; font-size: 16px; margin: 0; line-height: 30px; text-indent: 20px; }
#myForm .aunt-info-head .edit-info-btn{line-height: 31px; background-color: #fff; border: 1px solid #89c4f9; padding: 2px 4px; border-radius: 8px; margin-left: 110px; font-size: 14px;}
#myForm .aunt-info-head .edit-info-btn:hover{background-color: #89c4f9; color: #fff;}
.aunt-info-con,.aunt-skill-con,.aunt-contact-con,.aunt-work-info{width: 100%; border: 1px solid #dcebf7;}
.aunt-info-con .aunt-info-left{width: 70%; float: left; }
.aunt-info-con .aunt-info-left table{width: 100%; margin: 10px;}
#myForm table td{ border-bottom:1px dotted #74bef9; border-top: 1px dotted #74bef9; height: 30px; line-height: 30px; font-size: 12px; }
#myForm table td.td-tit{width: 20%; background-color: #dcebf7;}
.aunt-info-con .aunt-info-left table td.td-tit .red{display: none;}
.aunt-info-con .aunt-info-left table td.td-input{width: 30%;}
.aunt-info-con .aunt-info-left table td.td-input input{text-indent: 12px;}
.aunt-info-con .aunt-info-left table td.id-input-l input{width: 50%;}
.aunt-info-con .aunt-info-right{float: right; width: 30%;}
.aunt-info-right .upload-img{width: 140px; height: 180px; margin: 10px auto; border: 2px solid #ddd; background: url(../image/photo_bg.jpg) center center no-repeat; position: relative;}
.upload-img .link-upload{position: absolute; left: 2px; bottom: -5px; width: 100%; text-align: center; line-height: 38px; background: rgba(220, 235, 247, 0.49); color: #333; font-weight: bold;}

.oper-info-btn{width: 100%; height: 40px; text-align: center; display: none;}
.oper-info-btn a{display: inline-block; line-height: 20px; border: 1px solid #3ca1f3; padding: 2px 18px; margin: 5px 20px 0 20px;}
.oper-info-btn a:hover{background-color: #3ca1f3; color: #fff;}

#myForm .aunt-skill-con table td.td-tit{width: 15%;}
.aunt-skill-con table td.td-list{width: 60%;}
.aunt-skill-con table td.td-list span{margin-right: 8px;}
.aunt-skill-con table td.td-list span i{display: none;}
.aunt-skill-con table td.td-list span.on{display: inline-block;  background-color: #5cbff9; line-height: 20px; padding-left: 3px; padding-right: 15px; color: #fff;  position: relative;}
.aunt-skill-con table td.td-list span.on i{display: inline-block; position: absolute; top: -6px; right: 0px; font-size: 6px; font-style: normal; cursor: pointer;}
.aunt-skill-con table td.td-select{width: 25%; display: none;}
.aunt-skill-con table td.td-select select{width: 100px; }
.aunt-skill-con table td.td-select .add-skill-btn{margin-left: 7px; display: inline-block; background-color: #dcebf7; line-height: 20px; padding: 0 5px; border-radius: 4px;}

.table-con{margin: 10px;}

#myForm .aunt-contact-con table td{border: 1px dotted #74bef9; width: 10%; padding: 0; text-align: center;}
#myForm .aunt-contact-con table td input{width: 100px;}
.aunt-work-con .table-con table{margin-bottom: 5px;}
#myForm .aunt-work-con table td.td-tit{width: 20%; padding: 0; text-align: center;}
#myForm .aunt-work-con table td.works{width: 70%;}
#myForm .aunt-work-con table td.work-con{height: 100px;}
#myForm .aunt-work-con table td.td-btn{width: 10%; padding: 0; text-align: center; border: 1px dotted #74bef9;}

/*上传照片*/
#filePhoto .am-modal-bd{border-bottom: none;}
#filePhoto .modal-dialog{margin-left: 1000px; margin-top: 100px;}

