html,
body {
	background: #F1F2F8;
	/*overflow:hidden*/
}


/*@media(max-width:1500px) {
	
	body{
		overflow-x:scroll
	}
}*/

.all {
	/*margin-top: 80px;*/
	margin-left: 70px;
	z-index: 20;
	padding-left: 0;
	padding-right: 0;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 50px;
	width: 70px;
	padding: 0;
	background-color: #313A43;
	-webkit-overflow-scrolling: touch;
	-webkit-overflow-scrolling: -blackberry-touch;
	/*border-right: 10px solid #ccc;*/
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	z-index: 1000;
}

.sidebar ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar li {
	/*height: 80px;*/
	font-size: 16px;
}

.sidebar li a {
	color: #e0e0e0;
}

.sidebar li .caret {
	margin-top: 9px;
}

.sidebar li i {
	margin-right: 15px;
}

.sidebar .nav> li[class*=active]> a {
	background-color: #c5cae9;
	color: #F06292;
}

.sidebar .nav> li> a:hover,
.sidebar .nav> li> a:focus {
	background-color: #03A9F3;
	/*color: #BBBBBB;*/
}

.has-sub> a:hover {
	background-color: #F06292;
}

.sidebar .sub-menu {
	display: none;
}

.sidebar .sub-menu li:hover {
	background-color: #f5f5f5;
}

.sidebar .sub-menu li a {
	padding: 15px 30px;
	text-decoration: none;
	display: block;
	background-color: #313A43;
}

.sidebar .sub-menu li[class*=active]> a {
	color: firebrick !important;
}

.maincontent {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px 0 10px;
	min-width: 320px !important;
	overflow: hidden;
}

.maincontent .breadcrumb {
	padding: 14px 15px;
}

#goTop {
	padding: 5px 15px;
	border-radius: 8px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: none;
	background-color: #aaa;
	color: #fff;
	text-align: center;
	display: none;
	-moz-transition: background 0.5s linear;
	-webkit-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	z-index: 99;
}

#goTop:hover {
	background: #808080;
}

@media (max-width:768px) {
	.navbar-toggle[class*=pull-left] {
		margin-left: 15px;
		margin-right: 0;
	}
	#goTop {
		padding: 0 8px;
	}
}

.forkme {
	position: absolute;
	top: 80px;
	right: 0;
	border: 0;
}

.fa.pull-right {
	line-height: inherit;
}


/*后面添加的样式*/

.content {
	position: absolute;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	margin-left: -70px;
	/*margin: 0 75px 0 -150px;*/
	/*margin-left: -150px;
	margin-right: 75px;*/
	/*overflow:scroll*/
	/*background: #F06292;*/
	/*min-width: 1040px !important;
	min-height: 800px !important;*/
}

/*@media (min-width:1040px !important) {
	overflow-x:scroll;
}

@media (min-height:800px !important) {
	overflow-y:scroll;
}*/

.content iframe {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: -15px;
	padding-left: 70px;
	/*background: #FFE69F;*/
	/*padding: 15px;*/
}

.topContainer {
	position: relative;
	background: #FFFFFF;
	width: 100%;
	height: 50px;
	/*margin-bottom: 15px;*/
	margin:25px auto 15px auto;
	
}

.topLeft {
	margin-top: 15px;
	height: auto;
	padding-left: 20px;
	float: left;
	width: 30%;
}

.topCentre {
	margin-top: 15px;
	height: auto;
	text-align: center;
	float: left;
	width: 40%;
}

.topRight {
	padding-top: 10px;
	height: 40px;
	float: right;
	width: 450px;
}

.main-ontent {
	position: absolute;
	width: 100%;
	height: 100%;
}

.modUser div {
	margin: 30px;
}

.topMenu {
	height: 50px;
	float: right;
	margin: 5px 20px 0 0;
	font-size: 14px;
}

.topMenu div {
	text-align: center;
	height: 40px;
	width: 70px;
	background: #F6F6F6;
	border: none;
	padding-top: 10px;
}

.topMenu div:hover,
.topMenu div:focus {
	font-size: 20px;
	height: 40px;
	background: #FFFFFF;
	color: #5B91DB;
	outline: none;
}

.mianBox{
	width: 100%; 
	height: 100%; 
	padding: 30px 15px 0 15px;
	
}

.mianBoxDiv{
	background: #FFFFFF; 
	width: 100%; 
	height: 100%; 
	margin: 0 auto; 
	border-top:1px #03A9F3 solid;
}

.search_options{
	width: 100%;
	height: 50px;
	padding: 12px;
	/*border-bottom:1px #EFEFF4 solid;*/
	font-size: 16px;
	font-weight:normal;
}

.search_options span:hover{
	border-bottom:1px #03A9F3 solid;
	color: #03A9F3;
	cursor:pointer
}
