.webdesigntuts-workshop {
	width: 100%;
	height: 50px;
	/*background: #151515;*/
	height: 40px;
	/*position: absolute;*/
	/*text-align: center;*/
	width: 100%;
}

.webdesigntuts-workshop div {
	display: inline-block;
	font-size: 0px;
	/*margin: 20px 0 0 0;*/
	/*padding: 20px;*/
	/*position: relative;*/
	/*z-index: 1;*/
}

.webdesigntuts-workshop input {
	border-radius: 20px 0 0 20px;
	/*border: none;*/
	border: 1px solid #c5cae9;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 15px;
	/*font-weight: 400;*/
	height: 30px;
	/*margin: 0;
	padding: 0 10px;*/
	margin-left: 20px;
	/*text-shadow: 0 -1px 0 #000;*/
	color: #3d3b4f;
	width: 250px;
}

.ie .webdesigntuts-workshop input {
	line-height: 30px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
	color: #3d3b4f;
}

.webdesigntuts-workshop input:-moz-placeholder {
	color: #3d3b4f;
}

.webdesigntuts-workshop input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	border-color: #393;
	color: #3d3b4f;
	outline: none;
}


/*.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}*/

.webdesigntuts-workshop button {
	background: #1e88e5;
	border-radius: 0 20px 20px 0;
	color: #FFFFFF;
	/*display: block;*/
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 18px;
	/*font-weight: 400;*/
	height: 30px;
	line-height: 30px;
	/*margin: 0;*/
	/*padding: 0;*/
	border: none;
	/*color: #000000;*/
	/*position: relative;*/
	/*text-shadow: 0 -1px 0 #000;*/
	width: 80px;
}

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #1e88e5;
	color: #f48fb1;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #1e88e5;
}

@-webkit-keyframes glow {
	0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0, 255, 255, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 0 0 #000;
	}
	100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0, 255, 255, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 0 0 #000;
	}
}

@-moz-keyframes glow {
	0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0, 255, 255, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 0 0 #000;
	}
	100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0, 255, 255, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 0 0 #000;
	}
}

@-o-keyframes glow {
	0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0, 255, 255, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 0 0 #000;
	}
	100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0, 255, 255, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 0 0 #000;
	}
}

@-ms-keyframes glow {
	0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0, 255, 255, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 0 0 #000;
	}
	100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0, 255, 255, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 0 0 #000;
	}
}

@keyframes glow {
	0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0, 255, 255, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 0 0 #000;
	}
	100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0, 255, 255, .6), inset 0 0 10px rgba(0, 255, 0, .4), 0 0 0 #000;
	}
}

.majorCentre {
	position: absolute;
	width: 100%;
	height: 100%;
	/*padding-bottom: 160px;*/
	padding: 0px 15px 0px 15px;
	/*margin-top: -100px;*/
	min-width: 1450px;
	min-height: 800px;
	overflow: hidden
}

.majorCentreLeft {
	width: 62%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	float: left;
	position: relative;
	/*background: #FF0;*/
	/*margin-bottom: 80px;*/
	/*min-width: 600px;*/
	min-width: 620px;
	min-height: 758px;
}

.majorCentreRight {
	width: 38%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	float: left;
	padding: 0 0 0 15px;
	background: #F1F2F7;
	position: relative;
	min-width: 440px;
	min-height: 758px;
	/*background: #F1A417;*/
}

.nannyCentre {
	width: 100%;
	height: 50%;
	background: #FFFFFF;
	padding: 0px 0px 50px 0px;
	border: 1px #CECECE solid;
	overflow: hidden;
	/*min-width: 980px;
	min-height: 320px;*/
}

tr {
	color: #3d3b4f;
}

tr:hover {
	/*background: #F1F2F7;*/
	color: #7e57c2;
	/*font-weight:bold;*/
}

.clienteleCentre {
	margin-top: 15px;
	width: 100%;
	height: 50%;
	background: #FFFFFF;
	text-align: center;
	padding: 0px 0px 20px 0px;
	border: 1px #CECECE solid;
	/*min-width: 980px;
	min-height: 520px;*/
}

.newsCentre {
	width: 100%;
	height: 40%;
	background: #FFFFFF;
	border: 1px #CECECE solid;
	/*padding: 10px 10px 20px 20px;*/
	/*min-width: 390px;
	min-height: 310px;*/
}

.newsCentre li {
	height: 30px;
}

.noticeCentre {
	width: 100%;
	height: 60%;
	background: #FFFFFF;
	margin-top: 15px;
	border: 1px #CECECE solid;
	/*padding: 10px 30px 20px 30px;*/
	/*position: relative;
	min-width: 390px;
	min-height: 400px;*/
	text-align: center;
}

.noticeCentre li {
	height: 30px;
}

.noticeUl {
	width: 100%;
	min-width: 390px;
	height: 230px;
	/*display: block;*/
	margin: 20px 0 0 0;
	/*position: relative;*/
}

/*.noticeTs {
	/*width:180px; 
	height:200px; */
	font-size: 18px;
	text-align: center;
	margin: 50px auto;
	/*padding: 50px;*/
	color: #909090;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}*/

.notice_name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 110px;
	float: left;
	margin-right: 20px;
}

.notice_title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 120px;
	float: left;
	margin-right: 20px;
	/*background: #0000CC;*/
}

.notice_title_head {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 120px;
	float: left;
	margin-right: 20px;
}

.news_title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 180px;
	min-width: 100px;
	float: left;
	margin-right: 20px;
}

.news_title_head {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 180px;
	min-width: 100px;
	float: left;
	margin-right: 20px;
}

.notice_time_head {
	width: 100px;
	float: left;
}

.notice_time {
	width: 100px;
	float: left;
}

.noticeUl li {
	border-bottom: 1px #e0e0e0 dashed;
	color: #337ab7;
}

.noticeUl li:hover {
	background: #F1F2F7;
	color: #7e57c2;
	/*font-weight:bold;*/
}

/*.newsUl li {
	border-bottom: 1px #e0e0e0 dashed;
	color: #337ab7;
}*/



.centreTitle {
	width: 100%;
	height: 40px;
	line-height: 40px;;
	font-size: 20px;
	text-align: center;
	background: #F5F5F5;
	border-bottom: 1px #e0e0e0 solid;
	font-weight: bold
}

.centreTitle span {
	font-size: 14px;
	float: right;
	padding-top: 2px;
	/*margin-right: 30px;*/
}


/*.home_table_head{
	width: 237px;
	height: 35px;
	background: #f8bed2;
	text-align: center;
}*/

.home_table {
	width: 50px;
	height: 30px;
	text-align: center;
}

.home_table1 {
	width: 250px;
	/*height: 30px;*/
	/*padding-left: 20px;*/
	/*text-align: left;*/
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 10px 0px 10px;
}

.home_table2 {
	width: 160px;
	height: 30px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 10px 0px 10px;
}

.home_table3 {
	width: 100px;
	height: 30px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 10px 0px 10px;
}

.home_table4 {
	width: 140px;
	height: 30px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 10px 0px 10px;
}

.home_table5 {
	width: 220px;
	height: 30px;
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 10px 0px 10px;
}

.more_aunt {
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 2px 30px 0 0;
	font-size: 15px;
}

.more_clientele {
	width: 100%;
	height: 50px;
	text-align: right;
	padding: 2px 30px 0 0;
	font-size: 15px;
}

.more_span {
	font-size: 15px;
	color: #1565c0;
}

.more_span:hover {
	color: #ad1457;
	cursor: pointer;
}

#nanny_table tr {
	width: 100%;
	height: 40px;
	text-align: left;
}

#clientele_table tr {
	width: 100%;
	height: 40px;
	text-align: left;
}


/*span {
display:-moz-inline-box;
display:inline-block;
}*/

.noticeCentre a {
	display: block;
}

.noticeCentre img {
	vertical-align: bottom;
}

.notice_dowloa_file {
	float: left;
	width: 20px;
	height: 22px;
	background: url(../image/dowload.png);
	border: none;
	outline: none;
}

.shareEmployerBox1 {
	float: left;
	text-align: right;
	width: 30%;
	height: 80px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	min-width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sender {
	width: 100%;
	height: 100px;
	margin: 20px;
}



.a {
	float: left;
	height: 100px;
	
	/*width: 30%;*/
	/*background: #0066CC;*/
}

.b {
	/*background-color: aquamarine;*/
	float: left;
	margin: 0 20px 10px 15px;
	/*padding: 0px 20px 0px 0px;*/
	border-radius: 20px;
	height: 100px;
	width: 80%;
	background: -moz-linear-gradient(top, #D9FFF2 0%, #d3fff0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D9FFF2), color-stop(100%,#d3fff0));
    background: -webkit-linear-gradient(top, #D9FFF2 0%,#d3fff0 100%);
    background: -o-linear-gradient(top, #D9FFF2 0%,#d3fff0 100%);
    background: -ms-linear-gradient(top, #D9FFF2 0%,#d3fff0 100%);
    background: linear-gradient(to bottom, #D9FFF2 0%,#d3fff0 100%);
}

.sender div:first-child img {
	float: left;
	width: 80px;
	height: 80px;
	margin-top: 15px;
}

.left_triangle {
	height: 0px;
	width: 0px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent #d3fff0 transparent transparent;
	position: relative;
	left: -16px;
	top: 45px;
	
}


/*.userImg{
	width: 180px;
	height: 180px;
}*/

.shareEmployerBox2 {
	float: left;
	width: 70%;
	height: 80px;
	padding: 0 30px 0 30px;
	border: 1px solid #DDDDDD;
	background: #FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	min-width: 630px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.shareEmployerTitle {
	width: 100%;
	height: 30px;
	text-align: left;
	padding-top: 8px;
	text-align: left;
	font-size: 18px;
	color: #1054CD;
}

.shareEmployerContent {
	width: 100%;
	height: 50px;
	padding: 0px 20px 0px 20px;
	float: left;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
	color: #808080;
	cursor:pointer
}

.shareEmployerButtom {
	width: 100%;
	height: 30px;
	text-align: right;
	padding-top: 8px;
	font-size: 13px;
	color: #909090;
	padding: 0px 20px 0px 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
	color: #808080;
	cursor:pointer
}


/*共享*/
.nanny-head,.nav-tabs{background: #f5f5f5;}
.nanny-head{width: 100%; height: 80px;}
.head-img{float: left; margin:10px 0 0 10px; width: 60px; height: 60px;}
.head-con{float: left;}
.head-con h3.head-tit{ padding: 15px 0 0 10px; font-size: 18px; margin-top: 0; margin-bottom: 10px;}
.head-con .city{margin-left: 22px; font-size: 14px; }
.city .city-txt{font-weight: bold;}
.head-more{float: right; margin-right: 10px; line-height: 40px;}
.head-more a{margin: 0 5px; color: #666;}
.head-more a:hover{text-decoration: none; color: #59a8ff;}
.city select{width: 80px; height: 25px; color: #888; line-height: 25px; font-size: 14px; margin: 0 3px;}

.nav-tabs li a{color: #333; padding-left: 24px; }
.nav-tabs a.icon-guzhu{background: url(../image/icon/guzhu.png)3px 10px no-repeat;}
.nav-tabs a.icon-aunt{background: url(../image/icon/aunt.png)3px 10px no-repeat;}
.nav-tabs a.icon-stu{background: url(../image/icon/stu.png)3px 10px no-repeat;}

.tab-content{width: 100%; height: 100%; }
#myTabContent .tab-pane{padding: 20px 100px 30px 10px; height: 100%; text-align: center; overflow-y:scroll}
.pane-item{width: 100%; margin: 20px;}
.item-left{float: left; height: 100px; width: 8%;}
.item-left img{width: 50px; height: 50px; border-radius: 50%;}
.item-right{float: left; text-align: left; width: 92%;}
.item-right .user-name{font-size: 14px; font-weight: bold;}
.user-name .contact{font-weight: normal; font-size: 12px;}
.user-name .contact .tel{color: #f56954;}
.item-right .user-name .time{font-weight: normal; font-size: 12px; color: #888; float: right; margin-right: 30px;}
.item-right .rele-con{width: 100%; background-color: #8cd4b3; color: #fff; border-radius: 10px; padding: 10px; line-height: 24px; font-size: 14px; position: relative;}
.rele-con .box-ico{display: block; width: 10px; height: 10px; background: url(../image/icon/box-ico.png) no-repeat; position: absolute;left: -9px; top: 3px;}


/*新闻*/
.news-con,.notice-con{padding: 10px 30px; height: 100%; overflow: hidden;}
.news-con a:hover,.news-top .news-info h3 a:hover{text-decoration: none; color: #59a8ff;}
.news-top{ border-bottom: 1px dashed #ddd; height: 36%;}
.news-top .news-img{float: left; width: 28%; }
.news-top .news-info{float: right; width: 72%;}
.news-top .news-info h3.news-tit{width: 90%; padding: 5px 0; margin: 0;}
.news-top .news-info h3 a{ font-size: 16px; color: #333; font-weight: bold;}
.news-con .news-time{float: right; margin-right: 50px; font-size: 12px; color: #909090;}
.news-top .news-info p.news-intro{width: 90%; text-indent: 22px; font-size: 12px; color: #666; line-height: 20px; height: 56px; overflow: hidden; text-overflow: ellipsis;}

.newsUl{padding: 8px 0; height: 50%; overflow: hidden;}
.newsUl li{background: url(../image/icon/n_icon.png) 0 8px no-repeat; height: 28px;  overflow: hidden; line-height: 28px; padding-left: 20px;}
.newsUl li a{color: #333; font-size: 14px; display: inline-block; width: 60%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}


/*制度*/
.notice-con{padding: 10px; overflow-y: scroll;}
.notice-con table{border-collapse: collapse; width: 100%; table-layout: fixed;}
.notice-con table td,.notice-con table th{border:1px solid #eae9e9; height: 50px; padding: 0 10px; width: 33%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.notice-con table th{height: 40px; line-height: 40px; text-align: center; background-color: #f5f6fa;}
.notice-con table td.col-L{ background: url(../image/icon/file.png)45px 8px no-repeat;}
.notice-con table td a.down{display: inline-block; width: 65px; line-height: 30px; padding-left: 18px; background: #59a8ff url(../image/icon/icon_download.png)10px 5px no-repeat; font-size: 12px; color: #fff; border-radius: 8px;}
.notice-con table td a.down:hover{text-decoration: none; background-color: #1e88e5;}
