
.nav-list li{float: left; height: 50px; position: relative;}
.nav-list li a.tit{display: block; line-height: 50px; padding: 0 20px; color: #666; border-left:1px solid #f6f6f6; border-right: 1px solid #f6f6f6; position: relative;}
.nav-list li:hover a.tit{background-color: #fff; color: #59a8ff; border-left:1px solid #ddd; border-right: 1px solid #ddd; text-decoration: none; z-index: 10;}
.nav-list i.iconfont{vertical-align: middle;}
.nav-list span.nav-text{padding-left: 5px;}

.nav-list .nav-down{display: none; position: absolute; z-index: 9; top: 50px; width: 100%; min-width: 135px; background-color: #fff; border: 1px solid #ddd; text-align: center; margin-top: -1px; padding-top: 10px; padding-bottom: 10px;}
.nav-list .nav-down a{display: block; padding: 10px 20px; color: #333;}
.nav-list .nav-down a:hover{color: #59a8ff; text-decoration: none;}
